table{
    font-size: 15px;
    border-collapse: collapse;
    margin: 0 10px 5% 10px;

    display: block;
    
}
th{
    padding: 10px;
    background-color: #F9E1A8;
    text-align: left;
    border: 2px solid #000000;
    
}
td{
    padding: 6px 6px 6px 13px;
    border: 2px solid #000000;
}
tr:nth-child(2n){
    background-color: #FAF7F0;
}
tr:nth-child(2n+1){
    background-color: #FFF8E7;
}
tr:hover{
    background-color: #b9b6af9c;
}
.reject{
    background-color: #FFDDDB !important;
}
.success{
    background-color: #E0FFD9 !important;
}
.inprocess{
    background-color: #FFF8E7 !important;
}

@media (max-width: 1230px) {
    table{
        font-size: 12px;
        margin-top: 5%;
    }
    td{
        padding: 3px 3px 3px 7px;
    }
    th{
        padding: 6px;
        
    }
}