.main {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 250px;
}

.table {
    width: 65vw;
}

.services-table__title {
    text-align: center;
    margin-bottom: 30px;
}


@media (max-width: 56.25rem) {
    .tr:not(:last-child) {
        border-bottom: var(--table-border);
    }
}