/* МЕНЮ */
.menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
.menu-button{
    width: 70vw;
    padding: 20px 0;
    margin: 10px 0;
    background-color: #4A4947;
    text-align: center;
    color: #FFFFFF;
}
.menu-button:hover{
    background-color: #635c5c;
}
.menu-button:active{
    color: #6c6b6b;
    background-color: #4a494788;
}