body{
    background-color: #FAF7F0;
}
html{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 25px;
}
a{
    text-decoration: none;
}

/* ВЕРХНЯЯ ПАНЕЛЬ */

.top-panel{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

/* СТРЕЛКИ */

.top-panel-arrows{
    display: flex;
    margin-right: 100px;
}
.top-panel-arrows a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4A4947;
    width: 60px;
    height: 40px;
}
.top-panel-arrows img{
    width: 50px;
    height: 50px;
}
.right-arrow{
    background-color: #4A4947B2 !important;
    cursor: not-allowed;
}
.top-panel-arrows a:hover{ background-color: #635c5c; }
.top-panel-arrows a:active{ background-color: #4a494788; }

/* ИМЯ И ЛОГО АДМИНА*/

.top-panel-admin-info{
    display: flex;
    align-items: center;
    margin: 0 15px 0 0;
}
.top-panel-admin-info p{
    padding-right: 20px;
    min-width: 120px;
}
.top-panel-admin-info img{
    width: 60px;
    height: 60px;
}

/*  ПАНЕЛЬ ИНСТРУМЕНТОВ И ЗАГОЛОВОК */

.tool-bar{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}
.tool-bar h1{
    color: #4A4947;
    font-weight: 300;
    margin: 3% 0;
}
.tools{
    display: flex;
    align-items: start;
    //*ustify-content: start;*/
}
.tool-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    margin: 0 10px 5px 0;
    background-color: #4A4947;
    
}
.tool-button img{
    height: 30px;
}
.tool-button a{
    font-size: 16px;
    color: #FAF7F0;
    padding: 10px;
    text-wrap: nowrap;
}
.tool-button-input input{
    font-size: 20px;
    padding: 0 10px;
    height: 49px;
    background-color: #FAF7F0;
    border: 1px solid #4A4947;
}
.tool-button:hover{ background-color: #635c5c;}
.tool-button:active{ background-color: #4a494788; }

/* ОСНОВНОЙ КОНТЕНТ */
.main-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 10px 0 10px;
}

/* АДАПТИВЧИК */
@media (max-width: 900px) {
    .tool-bar h1{
        font-size: 25px;
        font-weight: 400;
    }
    .tools{
        display: flex;
        flex-direction: column;
    }
    .tool-button{
        margin: 10px 0 0 0;
        width: 230px;
    }
    .tool-button img{
        height: 20px;
    }
    .tool-button a{
        font-size: 12px;
    }
    .tool-button-input input{
        font-size: 15px;
        height: 45px;
        margin: 10px 0 0 0;
        width: 230px;
    }
}
@media (max-width: 550px) {
    html{
        font-size: 15px;
    }
    /* СТРЕЛКИ */
    .top-panel-arrows a{
        width: 50px;
        height: 30px;
    }
    .top-panel-arrows img{
        width: 40px;
        height: 40px;
    }
    /* ИМЯ И ЛОГО АДМИНА */
    .top-panel-admin-info img{
        width: 40px;
        height: 40px;
    }
    .top-panel-admin-info p{
        padding-right: 5px;
    }
}